.divCard {
    width: 500px;
    border: solid 5px;
    border-radius: 15px;
    display: block;
    position: relative; 
    margin-bottom: 5px;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 500px;
    background-color: burlywood;
    opacity: 1;
 }

 .divCard:hover {  
     transform: translateY(-2px);
     transition: .2s;
 }

 .spanhome {
    color: white;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    margin-top: 8px;
    margin-left: 100px;
    
}
.nav {
    display: flex;
    justify-content:flex-start;
    background-color: black;
    height: 40px;
}

 .h3 {
     color:black;    
 }

.PokemonImg {
    width: 200px;
    height: 200px;
}

.p {
    color:black;
}

.footer {
    background-color: black;
    height: 40px;
}

.pfooter {
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
}