
.div {
    background-image:url(https://res.cloudinary.com/dyycj9vam/image/upload/v1673813000/Create_Img_nbcd0m.png);
    background-size: cover;
}
/*https://img.wallpapersafari.com/desktop/1920/1080/15/69/vDBKxm.png */

.nav {
    display: flex;
    justify-content:flex-start;
    background-color: black;
    height: 60px;
}

.span {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    padding-top: 10px;
    margin-top: 10px;
    width: 500px;
    margin-left: 500px;
}

.spanhome {
    color: white;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    margin-top: 20px;
    margin-left: 300px;
    font-size: 18px;
    font-weight: bolder;
}

.form {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 5px; 
}

.label {
    display: flex;
    align-items: flex-start;
    font-weight: bolder;
    color:white;
    background-color:black;
    width: 509px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
}

.imglabel {
    display: flex;
    align-items: flex-start;
    font-weight: bolder;
    color:white;
    background-color: black;
    width: 509px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
}

.typelabel {
    display: flex;
    align-items: flex-start;
    font-weight: bolder;
    color:white;
    background-color: black;
    width: 509px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
}

.select {
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    
}

.invalido {
    display:flex;
    align-items: flex-start;
    border: red 5px solid;
    margin-left: 5px;
    width: 500px;
    
}

.valido {
    display:flex;
    align-items: flex-start;
    border:black 5px solid;
    margin-left: 5px;
    width: 500px;
}

.errorMessage {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bolder;
    background-color: white;
    width: 500px;
  }

.button {
    display:flex;
    align-items: flex-start;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    border: black solid 3px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.button:hover {
    background-color:  rgb(94, 89, 89);;
    }
    .button[disabled] {
        background-color: #aaa2a2;
        cursor: no-drop;
    }
    
.footer {
    background-color: black;
    height: 60px;
}

.pfooter {
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-top: 72px;
}

.ulselect{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;

}

.liselect {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    width: fit-content;
    border: black solid 2px;
    font-size: 12px;
    margin-right: 5px;
   
}

.labelselect {
    margin-left: 4px;
    margin-top: 3px;

}

.buttonselect {
    margin-left: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}


