.navFilters {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-bottom: 20px;
}
.span {
    color: white;
    margin-right: 180px;
    padding-top: 14px;
    font-weight: bolder;
    font-size: 18px;
}
.labels {
    color: white;
    margin-right: 10px;
    margin-left: 30px;
}